footer{
    background-color: #007acc;
    display: flex;
    div{
        color: white;
        font-family: 'Bitter', serif;
        i{
            font-size: .75rem;
            margin: .5rem;
        }
    }
}